html, body {
    margin: 0;
    height: 100%;
}
body {
    background-color: var(--cor-preto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#c {
    width: 100%;
    height: 100%;
    display: block;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.container-canvas{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-texto{
    position: absolute;
    text-align: center;
    /* margin-top: 60px; */
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}
.container-texto h1{
    color: var(--cor-preto);
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0); */
    font-family: poppins;
    font-size: 3vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
    width: 100%;
    margin: -9px;
    white-space: nowrap;
    padding: 0;
}

.second-text{
    font-size: 4vw !important;
    color: var(--cor-laranja) !important;
}

.container-texto p{
    color: #5a5a5a;
    font-family: Poppins;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.container-texto span{
    color: #5a5a5a;
    font-family: Poppins;
    font-size: 1vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}

.background-spinner{
background-color: #010520;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
min-height: 100vh;
height: 100%;
width: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 9999;
transition: all 0.4s ease 0s;
}
.background-spinner h1{
color: var(--cor-branco);
font-family: Quantico;
font-size: 50px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.3px;
margin-bottom: 20px;
}

.btn-carregamento{
height: 50px;
text-align: center;
border-radius: 8px;
border: 2px solid var(--cor-branco);
background-color: transparent !important;
text-align: center;
font-size: 30px;
font-weight: 700;
text-transform: uppercase;
text-decoration: none;
color: var(--cor-branco);
padding: 10px 20px;
}
.btn-carregamento{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}

.carregamento{
background-color: var(--cor-branco);
}

/* RESPONSIVIDADE */
@media (max-width: 1360px) {
.background-spinner h1{
    font-size: 40px;
}  
.btn-carregamento{
    height: 50px;
    font-size: 25px;
}
}

@media (max-width: 760px) {
.background-spinner h1{
    font-size: 24px;
    text-align: center;
}  
.btn-carregamento{
    height: 40px;
    font-size: 16px;
}
}


/* // fake 3d */

.circle-bg {
    z-index: 1000;
    width: 35.75vh; 
    height: 35.75vh; 
    max-height: 390px; 
    max-width: 390px; 
    perspective: 750px;
    background-color: #000000;
    background-image: linear-gradient(to top, #fff, #000000);
    border-radius: 35.75vh; 
    margin: auto;
    display: block;
    position: absolute;
    top: 150px;
    left: 50px;
}

.plu-mockup-wrapper-flipped {
    width: 23.4vh; 
    max-width: 260px; 
    transform-style: preserve-3d;
    background-color: #f6f6f6;
    border-radius: 3.25vh; 
    margin: auto;
    padding: 5.2vh 5px; 
    transition: all 0.6s cubic-bezier(.075, .82, .165, 1);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: perspective(750px) rotateX(12.5deg) rotateY(2.5deg) rotateZ(-7.5deg) translate(-1.625vh, 1.625vh); 
    box-shadow: -1px 4.55px 0 1px #dbdbdb, inset 0 0 5px rgba(0, 0, 0, .1), -23px 33px 25px -15px rgba(0, 0, 0, .11);
}
.plu-mockup-wrapper-flipped:hover {
    transform: perspective(750px) translate(0, 6.5vh); 
    box-shadow: 0 0 #dbdbdb, inset 0 0 5px rgba(0, 0, 0, .1), 0 16.25px 16.25px -10.5px rgba(0, 0, 0, .1);
}

.plu-mockup-home-button.flipped {
    box-shadow: inset -0.65px 1.3px rgba(0, 0, 0, .025); 
}

.plu-mockup-home-button {
    width: 3.575vh; 
    height: 3.575vh; 
    border: 0.65px solid rgba(0, 0, 0, .025); 
    border-radius: 130px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    box-shadow: inset 0.65px 1.3px rgba(0, 0, 0, .025); 
}

.plu-mockup-speaker.flipped {
    box-shadow: inset -0.65px 1.3px rgba(0, 0, 0, .025); 
}
.plu-mockup-speaker {
    width: 4.55vh; 
    height: 0.65vh; 
    border: 0.65px solid rgba(0, 0, 0, .025); 
    border-radius: 65px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top: 2.4375vh; 
    left: 0;
    right: 0;
    box-shadow: inset 0.65px 1.3px rgba(0, 0, 0, .025); 
}


.image-phone {
    position: relative;
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.container-image-phone{
    position: relative;
    height: 100%;
    text-align: center;
    background: #dddddd;
    clear: both;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}